@import url("https://fonts.googleapis.com/css2?family=Kosugi&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
}

body {
    background-color: #bbd8f8;
    font-family: 'Kosugi', sans-serif;
    text-align: center;
    line-height: 1.1;
    color: #f4f1e8;
    cursor: cell;
}

a {
    text-decoration: none;
    color: #f4f1e8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
::-webkit-scrollbar { width: 0px; }

.glow {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 10px;
    margin-bottom: 5px;
    animation: glow 5s infinite;
} @keyframes glow { 50% { text-shadow: 3px 3px 5px #fff; } }

/* pix */

#pix {
    height: 100%; width: 100%;
    position: absolute;
    top: 0; left: 0;
    background-image: url(/img/pix.png);
    background-size: unset;
    pointer-events: none;
    z-index: 1;
    animation: pix 0.2s infinite;
    animation-timing-function: linear;
} @keyframes pix { 100% { background-position: 0px 3px; } }