/* - - - desktop - - - */

#desktop {
    height: 100%; width: 100%;
    position: absolute;
    overflow: hidden;
}

/* - - - infobar - - - */

#infobar {
    width: 100%;
    position: absolute;
    border: 4px ridge #746f75;
    background-color: #bbd8f8;
    font-size: 15px;
    line-height: 19px;
}

#menu {
    height: 19px; width: 120px;
    float: left;
    border-right: 4px ridge #746f75;
    background-color: #111;
    cursor: pointer;
}
#menu:hover {
    background-color: #333;
}

#path {
    float: left;
    margin-left: 10px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #000;
}

/* - - - window - - - */

.window {
    height: 250px; width: 300px;
    position: relative;
    top: 60px; left: 60px;
    border: 4px ridge #746f75;
}

.winbar {
    height: 22px; width: 292px;
    border-bottom: 4px ridge #746f75;
    background-color: #bbd8f8;
}

.close {
    height: 14px; width: 14px;
    float: right;
    margin: 2px 2px 0 0;
    background-image: url("/img/x.png");
    cursor: pointer;
}

.content {
	height: calc(100% - 22px); width: 100%;
    padding: 10px;
	background-color: #111111;
}

/* - - - canvas - - - */

.canvas {
    height: 500px; width: 500px;
    position: absolute;
    top: 100px; left: 100px;
    border: 4px ridge #c5c5c5;
}

.can {
    height: 500px; width: 500px;
    position: absolute;
    top: 200px; left: 700px;
    overflow: hidden;
}

.ink {
    height: 500px; width: 500px;
    filter: blur(10px);
}

.text {
    height: 500px; width: 500px;
    position: absolute;
    top: 200px; left: 700px;
    padding: 25px;
    border: 4px ridge #c5c5c5;
    overflow: scroll;
}

/* - - - pages - - - */

.index { background-image: url("https://64.media.tumblr.com/3fa78053767b129f6072496d4c93a27d/tumblr_mziz4gq21y1sft3xeo1_500.gif");
    background-position: 50%;
}

#desktop.about {
    background-image: linear-gradient(to right, #eee 1px, transparent 1px), linear-gradient(to bottom, #eee 1px, transparent 1px);
    background-size: 35px 35px;
}

.about {
    background-image: url("https://64.media.tumblr.com/tumblr_lxgbb8K2d61qbvovho1_500.gifv");
    background-position: 50%;
}